/*

  Background Colors
  purple: #8a8acb;
  blue: #3887be;
  other blue: #3bb2d0;
  dark blue: #50667f;
  orange: #f9886c;
  green: #56b881;

  Font Colors
  Faded link: rgba(255,255,255,.5);
  Dark: rgba(0,0,0,0.75);
  Other: #404040;
*/

