/*
  Background Colors
  normal: #fff;
  slight darker: #f8f8f8;
  purple: #4f4fb0;
  blue: #3887be;
  other blue: #3bb2d0;
  dark blue: #50667f;
  orange: #f9886c;
  green: #56b881;

  Font Colors
  Faded link: rgba(255,255,255,.5);
  Dark: rgba(0,0,0,0.75);
  Other: #404040;
*/

html {
  background-color: #4f4fb0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,0,0,0.75);
  margin: 0;
}

/* Colors */
.text-color-white {
  color: #fff;
}

.text-color-faded {
  color: rgba(255, 255, 255, .75);
}

/* Header */
.title {
  font-weight: 700;
}

/* Footer */
.footer a:not(.icon) {
  border-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: rgba(255,255,255,.75);
}

.hero {
  opacity: .8;
}

.footer-list-header li {
  line-height: 22px;
  padding: 10px 0;
}

.footer-list-header li, p {
  font-weight: 600;
}

.footer-list-header li:first-child {
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  padding-bottom: 10px;
}

.footer-list-header li:nth-child(n + 2), p {
  color: rgba(255,255,255,.5);
  font-size: 16px;
}

.footer-icon-list li {
  display: inline-block;
  padding-right: 20px;
}

.footer-icon-list li .fa {
  font-size: 30px;
}

.footer-icon-list li a .fa-facebook:hover,
.footer-icon-list li a .fa-facebook:focus,
.footer-icon-list li a .fa-facebook:active {
  color: #3b5998;
}

.footer-icon-list li a .fa-github:hover,
.footer-icon-list li a .fa-github:focus,
.footer-icon-list li a .fa-github:active {
  color: #4078c0;
}

.footer-icon-list li a .fa-instagram:hover,
.footer-icon-list li a .fa-instagram:focus,
.footer-icon-list li a .fa-instagram:active {
  color: #125688;
}

.footer-icon-list li a .fa-twitter:hover,
.footer-icon-list li a .fa-twitter:focus,
.footer-icon-list li a .fa-twitter:active {
  color: #00aced;
}

.fa {
  color: #fff;
}
